<div id="video-30" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://i.ytimg.com/vi/RJC8pJ7xbB0/default.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">Down I Go - A Wasp In A Jar</h3>
			<div class="siv-desc hidden">
				The Official Video For Down I Go - A Wasp In A Jar, Taken From The Album "This Is Disastercore"
			</div>
			<div class="siv-id hidden">
				RJC8pJ7xbB0
			</div>
			<div class="siv-provider hidden">
				youtube.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 22915745">Kenneth Kufluk</span>
			<div class="hidden friend-avatar">
				<img src="http://a3.twimg.com/profile_images/1224766800/i_really_need_a_haircut_shave_newshirt_reasonably_small.jpg">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				Current status: http://t.co/ltgYjyB (NSFW)
			</div>
		</div>
	</div>
</div>
<div id="video-27" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://i.ytimg.com/vi/Rc47LcvIxyI/default.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">jennifer aniston goes viral - smartwater</h3>
			<div class="siv-desc hidden">
				smartwater presents jen aniston in her first ever viral video
			</div>
			<div class="siv-id hidden">
				Rc47LcvIxyI
			</div>
			<div class="siv-provider hidden">
				youtube.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 817062">Margaret Stewart</span>
			<div class="hidden friend-avatar">
				<img src="http://a0.twimg.com/profile_images/1254381801/margaretcloseup_reasonably_small.jpg">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				jennifer aniston goes viral - smartwater http://t.co/X6Tncxq via @youtube
			</div>
		</div>
	</div>
</div>
<div id="video-28" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://i.ytimg.com/vi/QVTNbTz9TEM/default.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">We believe in Allie...do you Brad Paisley??!!</h3>
			<div class="siv-desc hidden">
				Even though she is not here to see it, help us make Allie's dream come true. If you have any connection to Brad Paisley, please forward along.
			</div>
			<div class="siv-id hidden">
				QVTNbTz9TEM
			</div>
			<div class="siv-provider hidden">
				youtube.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 817062">Margaret Stewart</span>
			<div class="hidden friend-avatar">
				<img src="http://a0.twimg.com/profile_images/1254381801/margaretcloseup_reasonably_small.jpg">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				The best part of the story? @BradPaisley really did show up &amp; play! -- We believe in Allie...do you Brad Paisley??!! http://t.co/LizmV5S
			</div>
		</div>
	</div>
</div>
<div id="video-29" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://i.ytimg.com/vi/Z1GRirCTLQ0/default.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">Selda Bagcan - Ince Ince</h3>
			<div class="siv-desc hidden">
				Album: Turkulerimiz 2 (1975); reissued as Selda (2006). Sampled on Reverse Part 2 by Percee P. Recently featured on a commercial for Skate 2.
			</div>
			<div class="siv-id hidden">
				Z1GRirCTLQ0
			</div>
			<div class="siv-provider hidden">
				youtube.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 16205983">Gercek Karakus</span>
			<div class="hidden friend-avatar">
				<img src="http://a0.twimg.com/profile_images/1261986664/gercek-2_reasonably_small.png">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				@firatdemirel I can't remember&nbsp; the name of the song, it was one of her rare records. Might be this one http://youtu.be/Z1GRirCTLQ0
			</div>
		</div>
	</div>
</div>
<div id="video-26" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://i.ytimg.com/vi/eJjAXvCokas/default.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">Kar Yağıyor Bugün Ankara'ya - HARAMİLER</h3>
			<div class="siv-desc hidden">
				gülmaviden Ankara'ya sevgiler. Kar yağıyor bugün ayrılanlara eski günlere hatıralara....
			</div>
			<div class="siv-id hidden">
				eJjAXvCokas
			</div>
			<div class="siv-provider hidden">
				youtube.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 15848814">Ufuk Kılıç</span>
			<div class="hidden friend-avatar">
				<img src="http://a3.twimg.com/profile_images/1137985581/Untitled-15555555555_reasonably_small.jpg">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				Günün özeti: -- Kar Yağıyor Bugün Ankara'ya - Haramiler http://t.co/feKT9eX
			</div>
		</div>
	</div>
</div>
<div id="video-25" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://i.ytimg.com/vi/GE_USPTmYXM/default.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">Space Shuttle Launch: Viewed From an Airplane</h3>
			<div class="siv-desc hidden">
				Flying from Orlando, FL I had the rare opportunity to be able to watch Discovery's final launch as it embarks on STS-133.
			</div>
			<div class="siv-id hidden">
				GE_USPTmYXM
			</div>
			<div class="siv-provider hidden">
				youtube.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 7198302">Jonathan Stark</span>
			<div class="hidden friend-avatar">
				<img src="http://a2.twimg.com/profile_images/845865623/jonathanstark-scarf_reasonably_small.jpg">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				"Space Shuttle Launch Viewed From an Airplane" http://bit.ly/homnzE p.s. Wow /via @gruber
			</div>
		</div>
	</div>
</div>
<div id="video-22" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://i.ytimg.com/vi/ffoqmes7_Y0/default.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">The Ex at Yared Music School, tuesday 22 feb. 2011</h3>
			<div class="siv-desc hidden">
				The Ex presents part 4: "Free The Jazz" with Mats Gustafsson &amp; Paal Nilssen-Love. This is the concert at the Yared Music School on tuesday 22 feb. 2011.
			</div>
			<div class="siv-id hidden">
				ffoqmes7_Y0
			</div>
			<div class="siv-provider hidden">
				youtube.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 14681621">Darren Hoyt</span>
			<div class="hidden friend-avatar">
				<img src="http://a1.twimg.com/profile_images/188424996/twitter_pic_reasonably_small.jpg">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				The Ex play live at Yared Music School in Ethiopia. Hell yeah. - http://bit.ly/fxiy6a
			</div>
		</div>
	</div>
</div>
<div id="video-23" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://b.vimeocdn.com/ts/131/775/131775507_100.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">Kinect Controlled Delta-Robot</h3>
			<div class="siv-desc hidden">
				This is a project in development for the module "Digital Ecologies", at the Bartlett's AAC Msc.



				 A Delta-Robot is controlled by a Kinect through Processing and Arduino. The movements of the performer control directly the position of the robot's effector, and the rotation and opening of the gripper.

				 Once the platform is properly calibrated (still a little rough round the edges!), several autonomous behaviours will be implemented.



				 Team:

				 Miriam Dall'Igna

				 Criaco Castro

				 Enrique Ramos



				 Tutor:

				 Ruairi Glynn
			</div>
			<div class="siv-id hidden">
				20594424
			</div>
			<div class="siv-provider hidden">
				vimeo.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 7198302">Jonathan Stark</span>
			<div class="hidden friend-avatar">
				<img src="http://a2.twimg.com/profile_images/845865623/jonathanstark-scarf_reasonably_small.jpg">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				Kinect Controlled Robot http://vimeo.com/20594424 p.s. Er... just me or is this a teaser demo of how robot tech can go horribly wrong?
			</div>
		</div>
	</div>
</div>
<div id="video-24" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://i.ytimg.com/vi/F2qcYjJrZVc/default.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">Downhill VCA 2010</h3>
			<div class="siv-desc hidden">
				Vca @ chile 2010
			</div>
			<div class="siv-id hidden">
				F2qcYjJrZVc
			</div>
			<div class="siv-provider hidden">
				youtube.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 14712874">Jeffrey Kalmikoff</span>
			<div class="hidden friend-avatar">
				<img src="http://a0.twimg.com/profile_images/1212975325/eightbit-b480c6ed-75f4-44b9-b0ba-7d1b7928e414_reasonably_small.png">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				Anyone ever seen the movie Strange Days? Wish this was more than just a helmet-cam... http://bit.ly/h5nqgM
			</div>
		</div>
	</div>
</div>
<div id="video-21" class="s-item clearfix twitter">
	<div class="si-thumb">
		<img src="http://b.vimeocdn.com/ts/132/981/132981866_100.jpg">
	</div>
	<div class="si-info">
		<div class="si-video">
			<h3 class="siv-title">The 892 ways to partition a 3x4 grid</h3>
			<div class="siv-desc hidden">
				This video is based on the poster "The 892 unique ways to partition a 3x4 grid" which can be found at :

				 http://www.dubberly.com/concept-maps/3x4grid.html



				 The poster illustrates a change in design practice. Computation-based design&mdash;that is, the use of algorithms to compute options&mdash;is becoming more practical and more common. Design tools are becoming more computation-based; designers are working more closely with programmers; and designers are taking up programming.



				 Above, you see the 892 unique ways to partition a 3 × 4 grid into unit rectangles. For many years, designers have used grids to unify diverse sets of content in books, magazines, screens, and other environments. The 3 × 4 grid is a com-mon example. Yet even in this simple case, generating all the options has&mdash;until now&mdash;been almost impossible.



				 Patch Kessler designed algorithms to generate all the possible variations, identify unique ones, and sort them&mdash;not only for 3 × 4 grids but also for any n × m grid. He instantiated the algorithms in a MATLAB program, which output PDFs, which Thomas Gaskin imported into Adobe Illustrator to design the poster.



				 Rules for generating variations

				 The rule system that generated the variations in the poster was suggested by Bill Drenttel and Jessica Helfand who noted its relationship to the tatami mat system used in Japanese buildings for 1300 years or more. In 2006, Drenttel and Helfand obtained U.S. Patent 7124360 on this grid system&mdash;“Method and system for computer screen lay-out based on recombinant geometric modular structure”.



				 The tatami system uses 1 × 2 rectangles. Within a 3 × 4 grid, 1 × 2 rectangles can be arranged in 5 ways. They appear at the end of section 6.



				 Unit rectangles (1 × 1, 1 × 2, 1 × 3, 1 × 4; 2 × 2, 2 × 3, 2 × 4; 3 × 3, 3 × 4) can be arranged in a 3 × 4 grid in 3,164 ways. Many are almost the same&mdash;mirrored or rotated versions of the same configuration. The poster includes only unique variations&mdash;one version from each mirror or rotation group. Colors indicate the type and number of related non-unique variations. The variations shown in black have 3 related versions; blue, green, and orange have 1 related version; and magenta variations are unique, because mirroring and rotating yields the original, thus no other versions. (See the table to the right for examples.)



				 Rules for sorting

				 The poster groups variations according to the number of non-overlapping rectangles. The large figures indicate the beginning of each group. The sequence begins in the upper left and proceeds from left to right and top to bottom. Each group is further divided into sub-groups sharing the same set of elements. The sub-groups are arranged according to the size of their largest element from largest to smallest. Squares precede rectangles of the same area; horizontals precede verticals of the same dimensions. Within sub-groups, variations are arranged according to the position of the largest element, preceding from left to right and top to bottom. Variations themselves are oriented so that the largest rectangle is in the top left. Black dots separate groups by size. Gray dots separate groups by orientation.



				 Where to learn more

				 Grids have been described in design literature for at least 50 years. French architect Le Corbusier describes grid systems in his 1946 book, Le Modulor. Swiss graphic designer Karl Gerstner describes a number of grid systems or “programmes” in his 1964 book, Designing Programmes. The classic work on grids for graphic designers is Josef Muller-Brockman’s 1981 book, Grid Systems.



				 Patch Kessler explores the mathematical underpinnings of grid generation in his paper “Arranging Rectangles”. www.mechanicaldust.com/Documents/Partitions_05.pdf



				 Thomas Gaskin has created an interactive tool for viewing variations and generating HTML. www.3x4grid.com



				 Design: Thomas Gaskin

				 Creative Direction: Hugh Dubberly

				 Algorithms: Patrick Kessler

				 Patent: William Drenttel + Jessica Helfand



				 Copyright &copy; 2011

				 Dubberly Design Office

				 2501 Harrison Street, #7

				 San Francisco, CA 94110

				 415 648 9799
			</div>
			<div class="siv-id hidden">
				20764787
			</div>
			<div class="siv-provider hidden">
				vimeo.com
			</div>
		</div>
		<div class="si-user">
			<span class="icon"></span><span class="friend-name 17623957">DesignObserver</span>
			<div class="hidden friend-avatar">
				<img src="http://a2.twimg.com/profile_images/340155402/twitter_profile_bigger_reasonably_small.gif">
			</div>
			<div class="hidden friend-provider">
				twitter.com
			</div>
			<div class="hidden friend-message">
				892 unique ways to partition 3x4 grids Winterhouse patent. Dubberly Design poster: http://bit.ly/g9HOlZ NOW THE MOVIE! http://bit.ly/e4OTy1
			</div>
		</div>
	</div>
</div>