{% extends "base.html" %}
{% load verbatim %}

{% block htmltitle %}{{ block.super }}{% endblock %}

{% block htmlhead %}
    {{ block.super }}

    <style type="text/css">
    #videos .video {
        cursor: pointer;
    }
    </style>

    <script type="text/javascript" src="{{ STATIC_URL }}swfobject.js"></script>

{% endblock %}

{% block content %}

    <div id="container">
        <div id="youtube-player"></div>

        <div id="videos"></div>
    </div>

    {% verbatim %}
    <script id="video-template" type="text/x-jquery-tmpl">
        <div class="video" data-service="${video.service}" data-ident="${video.ident}">
            <strong>{{if (video.service == 'twitter.com')}} T {{/if}}</strong>
            ${poster.display_name}
        </div>
    </script>
    {% endverbatim %}

    <script type="text/javascript">
        function onYouTubePlayerReady (playerid) {
            $(document).trigger('playerready', [playerid]);
        }

        $(document).ready(function () {
            // set up youtube
            var params = { allowScriptAccess: 'always' };
            var atts = { id: 'youtube-player' };
            swfobject.embedSWF('http://www.youtube.com/apiplayer?enablejsapi=1&version=3', 'youtube-player',
                '800', '450', '8', null, null, params, atts);
        });

        $('#video-template').template('video');

        $(document).bind('playerready', function () {
            // load the videos
            $.getJSON('{% url videos %}', function (data) {
                var $videos = $('#videos');
                $.each(data, function (i, videodata) {
                    var $newvideo = $.tmpl('video', videodata);
                    $newvideo.bind('click', function () {
                        $('#youtube-player').get(0).loadVideoById(videodata.video.ident);
                    });
                    $videos.append($newvideo);
                });
            });
        });
    </script>

{% endblock %}
