{% extends "base.html" %}
{% load verbatim %}

{% block htmltitle %}{{ block.super }}{% endblock %}

{% block body_id %}app{% endblock %}

{% block content %}

    <div id="wrapper">
       <div id="stream-container">
         <div id="logo">
           <a class="ir" href="#" title="friendstream.tv - new generation tv">FriendStream.TV</a>
         </div>
         <div id="navigation">
           <ul class="horizontal clearfix">
             <li><a href="#" class="rc cufon tab nav-selected" data-target="aggregated-stream">home</a></li>
             {% comment %}<li><a href="#" class="rc cufon tab" data-target="sidebar-channels">featured</a></li>{% endcomment %}
             <li><a href="#" class="rc cufon tab" data-target="sidebar-account">my account</a></li>
             <li><a href="{% url signout %}" class="rc cufon">sign out</a></li>
         </div>

          <div id="stream" class="sidebar">

              <div id="aggregated-stream" class="sidebar-inner">
               <div class="loading"><img src="{{ STATIC_URL }}css/images/ajax-loader.gif"/ > Please wait while we are downloading videos shared by your friends...</div>
              </div>

              <div id="sidebar-account" class="sidebar-inner">
                {% if accounts.facebook %}
                    <h3><img src="{{ STATIC_URL }}css/images/facebook.png" width="40"> {{ accounts.facebook.display_name }} (<a href="{% url disconnect backend="facebook" %}">disconnect</a>)</h3>
                {% else %}
                    <h3><img src="{{ STATIC_URL }}css/images/facebook.png" width="40"> <a href="{% url associate_begin backend="facebook" %}">Connect your Facebook account</a></h3>
                {% endif %}
                {% if accounts.twitter %}
                    <h3><img src="{{ STATIC_URL }}css/images/twitter.png" width="40"> {{ accounts.twitter.display_name }} (<a href="{% url disconnect backend="twitter" %}">disconnect</a>)</h3>
                {% else %}
                    <h3><img src="{{ STATIC_URL }}css/images/twitter.png" width="40"> <a href="{% url associate_begin backend="twitter" %}">Connect your Twitter account</a></h3>
                {% endif %}

                <h2>More Account Controls</h2>
              </div>

              {% comment %}
              <div id="sidebar-channels" class="sidebar-inner">
                  <div class="sidebar-content">
                    <p>If you would like to be featured, please <a href="mailto:contact@friendstream.tv">contact us</a>.</p>
                  </div>
                  {% include 'featured.html' %}
              </div>
              {% endcomment %}
          </div>

         <!--

         SEARCH IS DISABLED FOR NOW !

         <div id="search" class="clearfix">
           <input type="text" name="search" id="search-input" class="search-input" placeholder="Search videos..." />
           <input type="submit" value="Search" />
         </div>
         -->

       </div><!-- end of #stream-container -->

       <div id="video-container">

        <div id="fb-like" class="hidden">
          <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="friendstream.tv" send="true" width="300" show_faces="true" font="arial"></fb:like>
        </div>

        <div id="video-controls">
          <a id="vc-prev" class="vc-item">Prev</a>
          <a id="vc-next" class="vc-item">Next</a>
        </div>

         <div id="video-embed-shadow" class="drop-shadow lifted"></div>

         <div id="video-embed" class=""></div>

         <div id="video-details" class="clearfix">
           <div class="avatar"></div>
           <div class="metadata">
             <h3></h3>
             <blockquote></blockquote>
             <p><span class="icon">Shared on </span> <span class="friend-name"><a href="#" target="_blank"></a></span></p>
           </div>
         </div>
       </div>

     </div> <!--! end of #wrapper -->


     {% include 'tutorial.html' %}

{% endblock %}

{% block scripts_bottom %}
  {{ block.super }}

  <script src="{{ STATIC_URL }}js/libs/iscroll-min.js"></script>

  <script type="text/javascript">
  $(document).ready(function () {
    setup_stream_panel();
    setup_navigation();
    setup_video_navigation();
    calculate_dimensions();
    load_videos('videos.json');

    // window.addEventListener('load', setup_tutorial, false);

    // setup_iscroll();

    var myScroll = new iScroll('stream');
  });
  </script>
{% endblock %}